	/* CARRUSEL HORIZONTAL */

.carousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.slide {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
	
